@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@100&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

/* Applies styles to the part of a document that has been highlighted by the user */
*::selection{
    background:orange;
    color:white ;
}

html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-padding-top:6rem ;
    scroll-behavior:smooth ;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 10;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}

header .logo span{
    color: orange;
    font-size: 3rem;
}

header .navbar a{   
    color: white;
    font-size: 2rem;
    margin:0.8rem ;
}

header .navbar a:hover{
    color: orange;
}

header .navbar a:active{
    color: rgb(185, 122, 4);
}

header .icons i{
    font-size: 2.5rem;
    color:white;
    cursor: pointer;
    margin-right: 2rem;
} 

header .icons i:hover{
    color: orange;
}

header .icons i:active{
    color: rgb(185, 122, 4);
}

header .search-bar-container{
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: rgb(51, 51, 51);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center; 
    flex-direction: column;
    /* clip-path: polygon(0 0,100% 0,100% 0,0 0); */
    display: none;
    gap:0.2rem;
}
.search-bar-container div{
    width: 100%;
    display: flex;
    align-items: center;
}
header .search-bar-container.active{
    display: flex;
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: rgb(51, 51, 51);
    font-size: 1.7rem;
    border-radius: 0.5rem;
}

header .search-bar-container label{
    color: white;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: orange;
}
header .search-bar-container label:active{
    color: rgb(185, 122, 4);
}

/* Search bar auto-suggestion */
.search-bar-container ul{
    list-style: none;
    font-size: 1.5rem;
    width: 100%;
}
.list {
    background-color: #ffffff;
    border-radius: 0 0 0.5rem 0.5rem;
}
.list-items {
    padding: 1rem 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.list-items:hover {
    background-color: #dddddd;
}


/* login form container */
.login-form-container{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1010;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top:0 ;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: white;
    width: 50rem;
}

.login-form-container form h3{
    font-size:3rem ;
    color: rgb(68, 68, 68);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form #username,#password{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: rgb(51, 51, 51);
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
    border-radius: 0.5rem;
}

.login-form-container form #username:focus{
    border: 0.1rem solid orange;
}

.login-form-container form #password:focus{
    border: 0.1rem solid orange;
}

.btn{
    display: inline-block;
    margin-top: 1.5rem;
    background: orange;
    color: white;
    padding: 0.8rem 3rem;
    border: 0.2rem solid orange;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
}

/* For all buttons */
.btn:hover{
    background-color: rgb(254, 183, 52);
}
.btn:active{
    background-color: rgb(185, 122, 4);
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.login-form-container form p{
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: rgb(102, 102, 102);
}

.login-form-container form p a{
    color: orange;
}

.login-form-container form p a:hover{
    color: rgb(51, 51, 51);
    text-decoration:underline ;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}

/* Menu bar - hamburger to make the header responsive*/
#menu-bar{
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    font-size: 3rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    display: none;
}

/* body{
    height: 300rem;
} */


/* Media Quries - hamburger */
@media only screen and (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:990px){
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(51, 51, 51);
        border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
        padding: 1rem 2rem;
        display: none;
    }
    header .navbar.active{
        display: block;
    }
    header .navbar a{
        display: block;
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: rgb(34, 34, 34); 
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
}

/* Home Section */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

section{
    padding: 2rem 9%;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0,0.1);
}

.home .content p{
    font-size: 2.5rem;
    color: white;
    padding: 0.5rem 0;
}

.home .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgb(255,165,0,0.2);
    color: orange;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}

.heading span.space{
    background: none;
}

@media (max-width:450px) {
    .heading span{
        font-size: 2.5rem;
    }
}




/* Services section starts */
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.services .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: orange;
}

#food-icon{
    padding: 1rem;
    font-size: 5rem;
    color: orange;
}

#hiking-icon{
    padding: 1rem;
    font-size: 5rem;
    color: orange;
}

.services .box-container .box h3{
    font-size: 2.2rem;
    color: rgb(51, 51, 51);
}

.services .box-container .box p{
    font-size: 1.3rem;
    color: rgb(102, 102, 102);
    padding: 1rem 0;
}

.services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
}


/* Contact Section */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row .image{
    flex: 1 1 35rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex: 1 1 50rem;
    padding: 2rem ;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: rgb(51, 51, 51);
    background: #f7f7f7;
    text-transform: none;
}

.contact .row form .inputBox input:focus, .contact .row form textarea:focus{
    border:1px solid orange;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .heading span{
        font-size: 2.5rem;
    }
    .contact .row form .inputBox input{
        width: 100%;
    }
}


/* Footer */
footer{
    background: rgb(51, 51, 51);
}

footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
    margin: 0 2rem;
}

footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 0.7rem 0;
    color: white;
}

footer .box-container .box p{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: rgb(238, 238, 238);
}

footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: rgb(238, 238, 238);
}

footer .box-container .box a:hover{
    color: orange;
    text-decoration: underline;
}

footer .copyright{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:white;
    border-top: 0.1rem solid rgba(255,255,255,.2);
}
  
footer .copyright span{
    color:orange;
}



/* Login and signup */



.btn-google{
    display: inline-block;
    margin-top: 1.5rem;
    background: red;
    color: white;
    padding: 0.8rem 3rem;
    border: 0.2rem solid red;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
}
.btn-google:hover{
    background-color: #df0000;
}
.btn-google:active{
    background-color: #8b0000;
}
.btn-facebook{
    display: inline-block;
    margin-top: 1.1rem;
    background: blue;
    color: white;
    padding: 0.8rem 3rem;
    border: 0.2rem solid blue;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}
.btn-facebook:hover{
    background-color: rgb(43, 43, 192);
}
.btn-facebook:active{
    background-color: #000070;
}

form #strike {
    display: flex;
    flex-direction: row;
    color: rgb(51,51,51);
    font-size: 1.6rem;
}
#strike:before, #strike:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(51,51,51);
    margin: auto;
}
#strike:before {
    margin-right: 10px;
}
#strike:after {
    margin-left: 10px;
}
#usernameParaNav{
    display: none;
}
@media screen and (max-width:480px){
    #usernamePara{
        display: none;
    }
    #usernameParaNav{
        display: block;
    }
}

.category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:727px) {
    .category .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;
    }
}
.category .box-container .box{
    flex-basis: 33rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
}
@media (max-width:480px) {
    .category .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .category .box-container .box{
        margin: 1.5rem auto;
        flex-basis:100%;
    }
    .category .heading span{
        font-size: 1.9rem;
    }
}
.category .heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.category .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.7);
}

.category .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.category .box-container .box .content{
    padding:2rem;
}

.category .box-container .box .content h3{
    font-size:2rem;
    color: rgb(51, 51, 51);   
    text-transform: uppercase;
}

.category .box-container .box .content h3 i{
    color: orange;
}

.category .box-container .box .content p{
    font-size: 1.7rem;
    color: rgb(51, 51, 51);
    padding: 1rem 0;
    text-transform: none;
}

.category .box-container .box .content .stars i{
    font-size: 1.7rem;
}

.category .box-container .box .content .price{
    font-size: 2rem;
    color: rgb(51, 51, 51);
    padding-top: 1rem;
}

.category .box-container .box .content span{
    color: rgb(102, 102, 102);
    font-size: 1.5rem;
    text-decoration: line-through;
}